.outer {
    width: 100%;
}

.contactRibbon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 20px;
    z-index: 10;
}

.searchBoxContainer {
    width: 600px;
}

.spacer {
    width: 20px;
}

.searchInput {
    height: 27px;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid var(--colors-gray-dark-900);
    outline: none;
    transition: all 0.3s ease-in-out;
    color: var(--app-text-white-color);
    border-color: var(--colors-gray-dark-200);
    box-shadow: 0 0 5px var(--colors-gray-dark-200);
    background-color: var(--colors-gray-dark-600) !important;

    &:hover {
        border-color: #888;
    }

    &::placeholder {
        color: #aaa;
        font-style: italic;
    }
}
.contactsBlockOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.contactsBlock {
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    gap: 50px;
    justify-items: center; 
    padding: 20px;
  
    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }
  

  .noContactsFound{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--app-text-white-color);
    font-size: 1.5rem;
    height: 200px;
    width: 300px;
    background-color: var(--colors-gray-dark-800);
    border-radius: 30px;
  }