@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --app-primary-color: #00aced;
  --app-secondary-color: #0c1022;

  --colors-gray-dark-100: hsl(0deg 0% 8.6%);
  --colors-gray-dark-200: hsl(0deg 0% 11%);
  --colors-gray-dark-300: hsl(0deg 0% 13.7%);
  --colors-gray-dark-400: hsl(0deg 0% 15.7%);
  --colors-gray-dark-500: hsl(0deg 0% 18%);
  --colors-gray-dark-600: hsl(0deg 0% 20.4%);
  --colors-gray-dark-700: hsl(0deg 0% 24.3%);
  --colors-gray-dark-800: hsl(0deg 0% 31.4%);
  --colors-gray-dark-900: hsl(0deg 0% 43.9%);
  --colors-gray-dark-1000: hsl(0deg 0% 49.4%);
  --colors-gray-dark-1100: hsl(0deg 0% 62.7%);
  --colors-gray-dark-1200: hsl(0deg 0% 92.9%);

  --app-text-white-color: #EDEDED;
  --app-text-grey-color: #7E7E7E;
  --app-block-bg-color: #1C1C1C;
  --app-green-color: #37996b;
  --app-green-colaor: #4d4a4a;
}

html,
body {
  height: 98%;
  background-color: var(--colors-gray-dark-500);
  min-height: 700px;
  min-width: 1200px;
  margin: 0;
  margin: 0.5%;
  font-family: "Josefin Sans", sans-serif;
}

::selection {
  background-color: var(--app-green-color);
  color: var(--app-text-white-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1c1c31;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--app-text-grey-color);
  border-radius: 4px;
  border: 2px solid #1c1c31;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #34b17a;
}