.notFoundBlock {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--app-text-white-color);
    font-size: 1.5rem;
    height: 300px;
    width: 400px;
    background-color: var(--colors-gray-dark-800);
    border-radius: 30px;
}

.notFoundOuter {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}